# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.build/
.metadata
.packages

# IDE/Editor
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log


